<div class="main-container-grid">
  <div>
    <textarea [(ngModel)]="input" class='autoExpand align-center' rows='3' data-min-rows='3' placeholder='Place text to be converted...'></textarea>
  </div>
  <div class="btn-wrapper">
    <div class="btn-wrapper__container">
      <div class="btn-inner">
        <a class="btn-inner__text" href="#" (click)="goConvert13(input)">Convert!</a>
      </div>
    </div>
  </div>
  <div><textarea [(ngModel)]="output" class='autoExpand' rows='3' data-min-rows='3' placeholder='' readonly></textarea></div>
</div>


