<header class="main-header">
  
  <div class="wrapper">
    <h2>CODESTERS CIPHER</h2>
    <h6>
    </h6>
    <nav class="tabs">
      <div class="selector"></div>
      <a href="#" class="active"  (click)="showAbout()" ><i class="fas fa-burn"></i>About</a>
      <a href="#"  (click)="goToSec()"><i class="fas fa-bomb"></i>ROT14</a>
      <a href="#" (click)="goHome()"><i class="fas fa-bolt"></i>ROT13</a>
      <!-- <a href="#"><i class="fab fa-superpowers"></i>Decode</a> -->
    </nav>
  </div>
</header>