<header class="main-header">
  <!-- <span ></span>
  <div class="align-center">Ro13 Cipher</div>
  <div ></div> -->
  <div class="wrapper">
    <h2>CODESTERS CIPHER</h2>
    <h6>Click on tabs to see them in action! 
      WARNING: NOT A SUBSTITUE FOR PERSONAL PASSWORDS!
    </h6>
    <nav class="tabs">
      <div class="selector"></div>
      <!-- <a href="#" class="active"><i class="fas fa-burn"></i>Avengers</a>
      <a href="#"><i class="fas fa-bomb"></i>Guardians of The Galaxy</a> -->
      <a href="#"><i class="fas fa-bolt"></i>ROT13</a>
      <a href="#"><i class="fab fa-superpowers"></i>ROT14</a>
    </nav>
  </div>
  
</header>